.profile-card-background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
.user-name {
  color: #6366f1;
}
.user-bio {
  color: #7e858e;
}
